@model IEnumerable<WareHouse.Models.Item>

<div class="row">
    <div class="col-sm-6">
        <!-- Classic Chart Block -->
        <div class="block full">
            <!-- Classic Chart Title -->
            <div class="block-title">
                <h2>Classic</h2>
            </div>
            <!-- END Classic Chart Title -->
            <!-- Classic Chart Content -->
            <!-- Flot Charts (initialized in js/pages/compCharts.js), for more examples you can check out http://www.flotcharts.org/ -->
            <div id="chart-classic" style="height: 380px;"></div>
            <!-- END Classic Chart Content -->
        </div>
        <!-- END Classic Chart Block -->
    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">Low inventory items</h4>
    </div>

    <div class="ct-chart ct-golden-section" id="chart1">

        <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <script>
                new Chartist.Bar('#chart1', {
                labels: [
              @foreach (var item in Model)
{
    @Html.Raw("'" +item.ItemName+"',")
}
           ],
            series: [[
                @foreach (var item in Model)
{
    @Html.Raw("'" +item.ItemQTY+"',")
}
            ]]
        }, {
       });

        </script>

    </div>

</div>
