@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    <a href=@Url.Action("About", "Home") class="w3-bar-item w3-button">Home</a>
    <a href=@Url.Action("Index", "SaleOrders") class="w3-bar-item w3-button">Sale Orders</a>     


        if (User.IsInRole("Supervisor") || User.IsInRole("Administrator"))
        {
            <a href=@Url.Action("Index", "PurchaseOrders") class="w3-bar-item w3-button">Purchase Orders</a>  
            <a href=@Url.Action("Index", "Items") class="w3-bar-item w3-button">Manage Items</a>      
        }
        if (User.IsInRole("Administrator"))
        {

        <a href=@Url.Action("Index", "Account") class="w3-bar-item w3-button">Manage Users</a>     
        }
    <a href="javascript:document.getElementById('logoutForm').submit()" class="w3-bar-item w3-button">Log Out</a>
    }
}

