@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <li>
        <a href=@Url.Action("About", "Home") class=" active"><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Home</span></a>
    </li>
    <li>
        <a href=@Url.Action("Index", "SaleOrders") class=""><i class="fa fa-dollar sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sale Orders</span></a>
    </li>

    if (User.IsInRole("Supervisor") || User.IsInRole("Administrator"))
    {
        <li>
            <a href=@Url.Action("Index", "PurchaseOrders") class=""><i class="fa fa-file-word-o sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Purchase Orders</span></a>
        </li>
        <li>
            <a href=@Url.Action("Index", "Items") class=""><i class="fa fa-check-square-o sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Items</span></a>
        </li>
    }

    if (User.IsInRole("Administrator"))
    {
        <li>
            <a href=@Url.Action("Index", "Account") class=""><i class="fa fa-users sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Manage Users</span></a>
        </li>
    }
}