USE [master]
GO
/****** Object:  Database [WareHouseContext]    Script Date: 5/3/2018 7:25:02 AM ******/
CREATE DATABASE [WareHouseContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WareHouseContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WareHouseContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WareHouseContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WareHouseContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WareHouseContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WareHouseContext]
GO
USE [WareHouseContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/3/2018 7:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 5/3/2018 7:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](20) NOT NULL,
	[ItemDesc] [nvarchar](60) NOT NULL,
	[ItemQTY] [int] NOT NULL,
	[ItemThres] [int] NOT NULL,
	[ItemSalePrice] [int] NOT NULL,
	[ItemPurchasePrice] [int] NOT NULL,
	[ItemPhoto] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseLogs]    Script Date: 5/3/2018 7:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseLogs](
	[PurchaseLogID] [int] IDENTITY(1,1) NOT NULL,
	[ItemOrderQTY] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[PurchaseOrderID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseLogs] PRIMARY KEY CLUSTERED 
(
	[PurchaseLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 5/3/2018 7:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderDesc] [nvarchar](60) NOT NULL,
	[PurchaseOrderStatus] [int] NOT NULL,
	[PurchaseOrderDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOrders] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleOrders]    Script Date: 5/3/2018 7:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleOrders](
	[SaleOrderID] [int] IDENTITY(1,1) NOT NULL,
	[SaleOrderStatus] [int] NOT NULL,
	[SaleOrderDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SaleOrders] PRIMARY KEY CLUSTERED 
(
	[SaleOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesLogs]    Script Date: 5/3/2018 7:25:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesLogs](
	[SalesLogID] [int] IDENTITY(1,1) NOT NULL,
	[ItemOrderQTY] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[SaleOrderID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SalesLogs] PRIMARY KEY CLUSTERED 
(
	[SalesLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 5/3/2018 7:25:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[PurchaseLogs]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseOrderID]    Script Date: 5/3/2018 7:25:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseOrderID] ON [dbo].[PurchaseLogs]
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemID]    Script Date: 5/3/2018 7:25:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemID] ON [dbo].[SalesLogs]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SaleOrderID]    Script Date: 5/3/2018 7:25:07 AM ******/
CREATE NONCLUSTERED INDEX [IX_SaleOrderID] ON [dbo].[SalesLogs]
(
	[SaleOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseLogs_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseLogs] CHECK CONSTRAINT [FK_dbo.PurchaseLogs_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[PurchaseLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseLogs_dbo.PurchaseOrders_PurchaseOrderID] FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseLogs] CHECK CONSTRAINT [FK_dbo.PurchaseLogs_dbo.PurchaseOrders_PurchaseOrderID]
GO
ALTER TABLE [dbo].[SalesLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesLogs_dbo.Items_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesLogs] CHECK CONSTRAINT [FK_dbo.SalesLogs_dbo.Items_ItemID]
GO
ALTER TABLE [dbo].[SalesLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesLogs_dbo.SaleOrders_SaleOrderID] FOREIGN KEY([SaleOrderID])
REFERENCES [dbo].[SaleOrders] ([SaleOrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesLogs] CHECK CONSTRAINT [FK_dbo.SalesLogs_dbo.SaleOrders_SaleOrderID]
GO
USE [master]
GO
